pre-commit==4.0.*
ipywidgets==8.1.*
jsonargparse[omegaconf,signatures]==4.36.*
tqdm==4.67.*
matplotlib==3.9.*
pandas==2.2.*
pytorch-lightning==2.4.*
tensorboard==2.18.*
torchinfo==1.8.*
datasets==2.*
# renumics-spotlight==1.6.*  # spotlight installs many dependencies and we currently don't use it
