torch==2.10.*
torchvision==0.25.*
datasets==4.*
pandas==2.* # Fix warning in pandas 2.* before upgrading to 3.*
lightning==2.6.*
matplotlib==3.10.*
tensorboard==2.18.*
torchinfo==1.8.*
pre-commit==4.*
jsonargparse[omegaconf,signatures]==4.*
